.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
    
    h1{
        font-style: 100px;
        font-size: 300%;
    
    }
    .mountains{
    background-image:url("/mountains.png") ;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    }
    .stars{
        background-image:url("/stars.png") ;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        }
    .planets{
        background-image:url("/planets.png") ;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    }

    @media (min-width:360px) and (max-width:370px){
        .parallax{
        .planets{
        background-size:contain;
        background-repeat: no-repeat;
        margin-bottom: 70%;
        width: 140%;
        }
        }
        }
    
@media (min-width:370px) and (max-width:390px){
.parallax{
.planets{
background-size:contain;
background-repeat: no-repeat;
margin-bottom: 70%;
width: 150%;
}
}
}
@media (min-width:390px) and (max-width:400px){
    .parallax{
        .planets{
        background-size:contain;
        background-repeat: no-repeat;
        margin-bottom: 70%;
        width: 160%;
        }
        }

}

@media (min-width:400px) and (max-width:420px){
    .parallax{
        .planets{
        background-size:contain;
        background-repeat: no-repeat;
        margin-bottom: 55%;
         width: 150%;
        }
        
        }

}

