.services{
    background-color: linear-gradient(180deg , #0c0c1d, #111132);
    height: 100%; 
    display:flex;
    flex-direction: column;
    justify-content:space-between;
   
 
 .textContainer{
 flex: 1;
 align-self: flex-end;
 display: flex;
 align-items: center;
 gap: 20px;
 // width: 100%;
 
 p{
     font-weight: 200;
     font-style: 20px;
     font-size: 20px;
     color:gray;
     text-align: right;
     margin: 0;
 }
 hr{
 //  flex:1;
 
  width:500px;
  border: none;
  border-top: 0.5px solid gray;
  margin-left: 20px;
 
 }
 }
 
 
 .titleContainer{
     flex: 2;
     display: flex;
     flex-direction: column;
     align-items: center;
     .title{
         display:flex;
         align-items: center;
         gap: 50px;
 
         img{
            width:300px;
            height: 100px;
            border-radius:50px ;
            object-fit: cover;
         
           
         }
         // h1{
         //     font-style:100px;
         //     font-weight: 100px;
         //     font-size: 250%;
 
         //     b{
         //         font-size: 250%;
         //     }
         // }
         p{
             font-style:100px;
              font-weight: 100px;
             font-size: 200%;
             b{
                      font-size: 200%;
                }
         }
 
 
         button{
             width: 300px;
             height: 90px;
             border-radius: 50px;
             background-color: orange;
             border: none;
             font-style: 24px;
             cursor: pointer;
             margin-bottom: 4%;
             margin-top: 4%;
         }
     }
 
 }
 .listContainer{
     flex:2;
     display: flex;
     max-width: 1366px;
     margin: auto;
 
     .box{
         padding: 50px;
         border: 0.5px solid gray;
         display: flex;
        flex-direction: column;
        justify-content: space-between;
 
     }
     button{
         padding: 10px;
         background-color: orange;
         border: none;
         cursor: pointer;
          margin-top: 4%;
     }
     h2{
         margin-bottom: 4%;
     }
 }
 }

 @media (min-width:370px) and (max-width:390px){

.services{
    justify-content: center;

  .textContainer{
padding: 20px;
    p{
        margin-left:50%;
        font-size: 16px
    }
    hr{
    margin-left: 4%;
    width: 500px;
    margin-bottom: 0;
    }
  }
  .titleContainer{
   flex: none;
  
   .title{
    flex-direction: column;
    margin-bottom: 3%;
    button{
        margin-top:0%;
        width: 210px;
        height: 65px;
         margin-bottom:15%;
    }
    img{
        justify-content: center;
        width:300px;
          margin-left:30px;
          height:70px ;
          margin-top:0%;
          flex: none;

  }
  p{
   flex: none;
  font-size:150%;
   b{
         font-size: 200%;
      }
  }
   }
  }
  .listContainer{
    flex-direction: column;
   .box{
    flex: none;
    justify-content: center;
      width: 100%;
      margin-left:2%;
      padding-top:3%;
      padding-bottom: 3%;
      margin-bottom: 5%;
      border: none;
      align-items: center;
      p{
        display:none;

      }
      button{
        width: 230px;
       background: none;
       color: orange;
       border:1px solid orange;
       border-radius: 5px;
       
      }
   }

  

  }
}
 }
 
 @media (min-width:400px) and (max-width:420px){
    .services{
        justify-content: center;
    
      .textContainer{
    padding: 20px;
        p{
            margin-left:50%;
            font-size: 16px
        }
        hr{
        margin-left: 4%;
        width: 500px;
        margin-bottom: 0;
        }
      }
      .titleContainer{
       flex: none;
      
       .title{
        flex-direction: column;
        margin-bottom: 3%;
        button{
            margin-top:0%;
            width: 210px;
            height: 65px;
             margin-bottom:15%;
        }
        img{
            justify-content: center;
            width:300px;
              margin-left:30px;
              height:70px ;
              margin-top:0%;
              flex: none;
    
      }
      p{
       flex: none;
      font-size:150%;
       b{
             font-size: 200%;
          }
      }
       }
      }
      .listContainer{
        flex-direction: column;
       .box{
        flex: none;
        justify-content: center;
          width: 100%;
          margin-left:2%;
          padding-top:3%;
          padding-bottom: 3%;
          margin-bottom: 5%;
          border: none;
          align-items: center;
          p{
            display:none;
    
          }
          button{
            width: 230px;
           background: none;
           color: orange;
           border:1px solid orange;
           border-radius: 5px;
           
          }
       }
    
      
    
      }
    }
 }