.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: black;

    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: white;
        width: 300px;
        z-index: 999;

        .links{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      
a{
    font-size: 40px;
}

        }
    }

        button{
            width: 50px;
            height: 50px;
            left: 25px;
            top: 30px;
            border-radius: 50%;
            position: fixed;
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 999;

        }

   
}

@media (min-width:360px) and (max-width:370px){
    .sidebar{
       
        .bg {
            width:58% ;
             .links{
                a{
                font-size: 30px;
                }
             }   
            }
    }
}

@media (min-width:370px) and (max-width:390px){
    .sidebar{
       
        .bg {
            width:60% ;
             .links{
                a{
                font-size: 30px;
                }
             }   
            }
    }
   
}
@media (min-width:390px) and (max-width:400px){
    .sidebar{
       
        .bg {
            width:63% ;
             .links{
                a{
                font-size: 30px;
                }
             }   
            }
    }

}

@media (min-width:400px) and (max-width:420px){
    .sidebar{
       
        .bg {
            width:65% ;
             .links{
                a{
                font-size: 35px;
                }
             }   
            }
    }
   
}