.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: black;

    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: white;
        width: 300px;

        .links{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
a{
    font-size: 40px;
}

        }
    }

        button{
            width: 50px;
            height: 50px;
            left: 25px;
            top: 30px;
            border-radius: 50%;
            position: fixed;
            background-color: transparent;
            border: none;
            cursor: pointer;

        }

   
}