.contact{
   
    height: 100%;
   align-items: center;
flex: 1;
display: flex;
flex-direction: row;
color: lightgray;

.form{
    // float: right;
    flex: 1;
    margin-left: 35%;
     position: relative;
    .phone{
       //background-color: rebeccapurple;
       stroke: orange;
        position:absolute ;
        margin: auto;
        z-index: -1;
        svg{
            width:450px;
            height:450px;
        }
    }
   
    .text{
        margin-bottom:5%;
        padding:3%;
        width:80%;
        background-color: #0c0c1d;
        color: lightgray;
        

    }
    
    .btn{
        margin-bottom:5%;
        padding:3%;
        width:80%;
        background-color: orange;
        color: lightgray; 
    }
}

.textarea{
    margin-left: 5%;
   .item{
    margin-bottom: 5%;
   }
.h1{
    margin-bottom: 10%;
    font-size: 50px;
    font-family:sans-serif
}
span{
    color: white;
}
}


}


@media (min-width:360px) and (max-width:370px){
    .contact{
        flex: none;
        flex-direction: column;
        .form{
            margin-top: 10%;
            margin-left: 20px;
            .phone{
                svg{
                    width:250px ;
                    height: 300px;
                    margin-left:-20%;
                }
            }
           .text{
            width: 120%;
            height: 45px;
            margin-left: -15%;
            margin-bottom: 30px;
    
           }
           .btn{
            width: 120%;
            height: 40px;
            margin-left: -15%;
         
           }
        }
        .textarea{
            .h1{
                font-size: 35px;
                margin-top: 23%;
                br{
                    display: none;
                }
            }
            .item{
                align-items: center;
                h2{
                    align-items: center;
                    font-size: 20px;
                    margin-left: 110px;
                    margin-bottom: 3%;
                }
                span{
                    margin-left: 30px;
                }
                .span1{
                    margin-left: 68px;
                }
                .span2{
                    margin-left:95px;
                }
            }
        }
    }
    
    }

@media (min-width:370px) and (max-width:390px){
.contact{
    flex: none;
    flex-direction: column;
    .form{
        margin-top: 10%;
        margin-left: 20px;
        .phone{
            svg{
                width:250px ;
                height: 300px;
                margin-left:-20%;
            }
        }
       .text{
        width: 120%;
        height: 45px;
        margin-left: -15%;
        margin-bottom: 30px;

       }
       .btn{
        width: 120%;
        height: 40px;
        margin-left: -15%;
     
       }
    }
    .textarea{
        .h1{
            font-size: 35px;
            margin-top: 23%;
            br{
                display: none;
            }
        }
        .item{
            align-items: center;
            h2{
                align-items: center;
                font-size: 20px;
                margin-left: 110px;
                margin-bottom: 3%;
            }
            span{
                margin-left: 30px;
            }
            .span1{
                margin-left: 68px;
            }
            .span2{
                margin-left:95px;
            }
        }
    }
}

}

@media (min-width:390px) and (max-width:400px){
    .contact{
        flex: none;
        flex-direction: column;
        .form{
            margin-top: 10%;
            margin-left: 20px;
            .phone{
                svg{
                    width:250px ;
                    height: 300px;
                    margin-left:-20%;
                }
            }
           .text{
            width: 120%;
            height: 45px;
            margin-left: -15%;
            margin-bottom: 30px;
    
           }
           .btn{
            width: 120%;
            height: 40px;
            margin-left: -15%;
         
           }
        }
        .textarea{
            .h1{
                font-size: 35px;
                margin-top: 23%;
                br{
                    display: none;
                }
            }
            .item{
                align-items: center;
                h2{
                    align-items: center;
                    font-size: 20px;
                    margin-left: 110px;
                    margin-bottom: 3%;
                }
                span{
                    margin-left: 30px;
                }
                .span1{
                    margin-left: 68px;
                }
                .span2{
                    margin-left:95px;
                }
            }
        }
    }
    

}

@media (min-width:400px) and (max-width:420px){

    .contact{
        flex: none;
        flex-direction: column;
        .form{
            margin-top: 10%;
            margin-left: 20px;
            .phone{
                svg{
                    width:250px ;
                    height: 300px;
                    margin-left:-20%;
                }
            }
           .text{
            width: 120%;
            height: 45px;
            margin-left: -15%;
            margin-bottom: 30px;
    
           }
           .btn{
            width: 120%;
            height: 40px;
            margin-left: -15%;
         
           }
        }
        .textarea{
            .h1{
                font-size: 35px;
                margin-top: 23%;
                br{
                    display: none;
                }
            }
            .item{
                align-items: center;
                h2{
                    align-items: center;
                    font-size: 20px;
                    margin-left: 110px;
                    margin-bottom: 3%;
                }
                span{
                    margin-left: 30px;
                }
                .span1{
                    margin-left: 68px;
                }
                .span2{
                    margin-left:95px;
                }
            }
        }
    }
}