.navbar{

.social{
    display: flex;
    align-items: center;
    margin-top: 0%;
    float: right;
     display: flex;
     gap: 20px;
    height: 100%;
    padding-top:2% ;
    padding-right: 2%;
}
img{
    width: 30px;
    height: 30px;
}


}

@media (min-width:360px) and (max-width:370px){
    .navbar{
        margin-right: 3%;
    }
}

@media (min-width:370px) and (max-width:390px){
    .navbar{
        margin-right: 3%;
    }
}

@media (min-width:390px) and (max-width:400px){
    .navbar{
        margin-right: 3%;
    }
}
@media (min-width:400px) and (max-width:420px){
    .navbar{
        margin-right: 3%; 
    }
}

.wrapper{
    margin-left: 20%;

}