
.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 35px;

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }
  }

  section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .container {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .imageContainer {
        flex: 1;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        
        img {
          width: 100%;
          height: auto;
        }
        
        .imageButtonContainer {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          
          button {
            padding: 10px 20px;
            background-color: orange;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            
            &:hover {
              background-color: darkorange;
            }
          }
        }
      }

      .textContainer {
        flex: 1;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h2 {
          font-size: 24px;
          margin-bottom: 10px;
        }

        ul {
          padding-left: 20px;

          li {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 10px;
          }
        }

        button {
          padding: 10px 10px;
          background-color: orange;
          color: white;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darkorange;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    .container .wrapper {
      flex-direction: column;
      
      .imageContainer,
      .textContainer {
        max-width: 100%;
        width: 100%;
      }

      .textContainer {
        padding: 0 10%;
        margin-top: 20px;

        h2 {
          font-size: 22px;
        }

        ul li {
          font-size: 14px;
        }

        button {
          width: 100%;
          padding: 15px;
        }
      }
      
      .imageContainer .imageButtonContainer button {
        width: 100%;
        padding: 15px;
      }
    }
  }
}

@media (max-width: 420px) {
  .portfolio {
    .progress h1 {
      font-size: 32px;
      margin-top: 30px;
    }

    .container .wrapper {
      gap: 30px;

      .textContainer {
        h2 {
          font-size: 20px;
        }

        ul li {
          font-size: 13px;
        }
      }
    }
  }
}