

.portfolio {
    position: relative;
    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 35px;
        // margin-left: 22rem;

        .progressBar {
            height: 10px;
            background-color: white;
        }
    }

    .container {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
       
        // justify-items: auto;

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
        }
    }

    // Updated styles for Single component
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        .container {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .imageContainer {
                flex: 1;
                max-width: 40%;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .textContainer {
                flex: 1;
                max-width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                button {
                    padding: 10px 20px;
                    background-color: orange;
                    color: white;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    &:hover {
                        background-color: darkorange;
                    }
                }
            }
        }
    }
}



@media (min-width: 360px) and (max-width: 370px) {

  .portfolio
  { 
    .progress{
      h1{
        margin-top: 6%;
        font-size: 40px;
        font-weight: 700;
      }
    }
    .container .wrapper {
    flex-direction: column;
    
    .imageContainer,
    .textContainer {
      width: 100%;
      max-width: 100%;

      img {
        width: 100%;
        height: 90%;
        margin-bottom: 5%;
      }
    }

    .textContainer {
      margin-top: -60%;
      padding-left: 10%;
      padding-right: 10%;

      h2 {
       
        font-size: 30px;
        margin-bottom: 5px;
      }

      p {
        font-size:20px;
        margin-bottom: 10px;
      }

      button {
        padding: 20px 20px;
        width: 100%;
        
      }
    }
    }
  }

}

@media (min-width: 370px) and (max-width: 390px) {
  .portfolio
  { 
    .progress{
      h1{
        margin-top: 6%;
        font-size: 40px;
        font-weight: 700;
      }
    }
    .container .wrapper {
    flex-direction: column;
    
    .imageContainer,
    .textContainer {
      width: 100%;
      max-width: 100%;

      img {
        width: 100%;
        height: 90%;
        margin-bottom: 5%;
      }
    }

    .textContainer {
      margin-top: -60%;
      padding-left: 10%;
      padding-right: 10%;

      h2 {
       
        font-size: 30px;
        margin-bottom: 5px;
      }

      p {
        font-size:20px;
        margin-bottom: 10px;
      }

      button {
        padding: 20px 20px;
        width: 100%;
        
      }
    }
    }
  }

}


@media (min-width:390px) and (max-width:400px){
  .portfolio
  { 
    .progress{
      h1{
        margin-top: 6%;
        font-size: 40px;
        font-weight: 700;
      }
    }
    .container .wrapper {
    flex-direction: column;
    
    .imageContainer,
    .textContainer {
      width: 100%;
      max-width: 100%;

      img {
        width: 100%;
        height: 90%;
        margin-bottom: 5%;
      }
    }

    .textContainer {
      margin-top: -60%;
      padding-left: 10%;
      padding-right: 10%;

      h2 {
       
        font-size: 30px;
        margin-bottom: 5px;
      }

      p {
        font-size:20px;
        margin-bottom: 10px;
      }

      button {
        padding: 20px 20px;
        width: 100%;
        
      }
    }
    }
  }

}

@media (min-width:400px) and (max-width:420px){

  .portfolio
  { 
    .progress{
      h1{
        margin-top: 6%;
        font-size: 40px;
        font-weight: 700;
      }
    }
 

    .container .wrapper {
    flex-direction: column;
    
    .imageContainer,
    .textContainer {
      width: 100%;
      max-width: 100%;

      img {
        width: 100%;
        height: 90%;
        margin-bottom: 5%;
      }
    }

    .textContainer {
      margin-top: -60%;
      padding-left: 10%;
      padding-right: 10%;

      h2 {
       
        font-size: 30px;
        margin-bottom: 5px;
      }

      p {
        font-size:20px;
        margin-bottom: 10px;
      }

      button {
        padding: 20px 20px;
        width: 100%;
        
      }
    }
    }
  
  }

}



